body {
    margin: 0;
    background-image: url(../images/email-pattern.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    color: rosybrown;
    font-weight: bold;
}

a {
    color: brown;
    text-decoration: none;
}

hr {
    background-color: brown;
    height: 2px;
}

a:hover {
    background-color: rgba(221, 221, 221, 0.377);
    color: brown;
    height: 100%;
}

.nav-link {
    height: 100%;
    padding-top: 10px;
}

.nav-item-left {
    float: left;

}

.nav-tabs .nav-link {
    font-size: 1rem;
    text-align: center;

}

.nav-tabs .nav-link.active {
    color: white;
    background-color: rosybrown;
    border-color: rosybrown;
    height: 100%;
    padding-top: 10px;
}

.nav,
.nav-tabs {
    background: #fff;

}

.name {
    background: brown;
    padding: 5px 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    float: right;
    padding: 20px 0 20px 0;
    margin-right: 150px;
}


.main {
    background: #fff;
    padding: 15px;
    border: 1px solid brown;
    margin-bottom: 50px;

}

.col-md-2 {
    padding: 0 5px;
}


#exampleInputMessage1 {
    height: 10rem;

}

.btn,
.btn-primary {
    background-color: rosybrown;
    border: rosybrown;
    font-size: .8rem;
}

.btn,
.btn-primary:hover {
    background-color: brown;
    border: brown;
    font-size: .8rem;
}


.footer {
    background: #333333;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    border-top: 5px solid brown;
    margin-top: 100px;
}

/* .form-group {
    width: 100%;
} */


.card {
    margin: 20px 20px 20px 0;
    width: 40%;
}

.cardname {
    bottom: 10px;
    left: 0;
    padding: 10px 0;
    background-color: brown;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;

}

.card-row {
    padding: 0 1rem;
}